.bWht {
    background-color: #fff!important
}

.cGry2 {
    color: #5f6062!important
}

.cWht {
    color: #fff !important
}

.cAzul1 {
    color: #05aff2 !important;
}
.cAzul2 {
    color: #21b0f5 !important;
}
.cAzul3 {
    color: #056cf2 !important;
}
.cAzul4 {
    color: #2e6cde !important;
}
.cAzul5 {
    color: #072273 !important;
}
.cAzul6 {
    color: #021740 !important;
}
.cRosa {
    color: #a43ac6 !important;
}
.cLila {
    color: #6f1fbf !important;
}
.cMorado1 {
    color: #601db5 !important;
}
.cMorado2{
    color: #312769 !important;
}

.bAzul1 {
    background-color: #05aff2 !important;
}
.bAzul2 {
    background-color: #21b0f5 !important;
}
.bAzul3 {
    background-color: #056cf2 !important;
}
.bAzul4 {
    background-color: #2e6cde !important;
}
.bAzul5 {
    background-color: #072273 !important;
}
.bAzul6 {
    background-color: #021740 !important;
}
.bRosa {
    background-color: #af51ce !important;
}
.bLila {
    background-color: #6f1fbf !important;
}
.bMorado1 {
    background-color: #601db5 !important;
}
.bMorado2{
    background-color: #312769 !important;
}

.cnRed1 {
    color: #b71c1c !important
}

.cnRed2 {
    color: #d32f2f !important
}

.cRed2 {
    color: #900 !important
}

.bnRed2 {
    background-color: #d32f2f !important
}

.cGry1 {
    color: #37383a !important
}

.cGry3 {
    color: #7f8081 !important
}

.cGry5 {
    color: #bfc0c0!important
}

.bGry7 {
    background-color: #efefef !important
}

.bGry1 {
    background-color: #37383a !important
}

.bGry2 {
    background-color: #5f6062 !important
}

.bGry6 {
    background-color: #dfdfe0 !important
}

.bnOrg4 {
    background-color: #f0ad4e !important
}

.bYel5 {
    background-color: #ffeb99 !important
}
