.bnOrg4 {
    background-color: #f0ad4e !important
}

.bYel5 {
    background-color: #ffeb99 !important
}

.bGry1 {
    background-color: #37383a !important
}

.bGry2 {
    background-color: #5f6062 !important
}

.bWht {
    background-color: #fff!important
}

.cGry2 {
    color: #5f6062!important
}

.cWht {
    color: #fff !important
}

.cnRed1 {
    color: #b71c1c !important
}

.cnRed2 {
    color: #d32f2f !important
}

.cGrn1 {
    color: #6fb229 !important
}

.cGry1 {
    color: #37383a !important
}

.bGrn2 {
    background-color: #8cc63f !important
}

.bnRed2 {
    background-color: #d32f2f !important
}

.cGry3 {
    color: #7f8081 !important
}

.cGry5 {
    color: #bfc0c0!important
}


.bnOrg3 {
    background-color: #ec971f !important
}

.bGry7 {
    background-color: #efefef !important
}

.cRed2 {
    color: #900 !important
}

.cdBlu1 {
    color: #084d6b !important
}

.bGry6 {
    background-color: #dfdfe0 !important
}

.cBlu1 {
    color: #1eb0ee !important
}