/* codigo del listado de partidos */
.listaPartidos {
    background-color: #f1f1f1 !important;
    color: #121212;
}

.listaPartidos>div>div {
    background-color: white !important;
    border-radius: 0.25em;
}

.partidos li, .filtros {
    border-bottom: 1px solid #bfbfbf;
}

/* codigo de la fecha del partido */
.partidos li>div {
    display: grid;
    align-items: center;
    margin: 1em 0;
}

.day {
    font-size: 1.75em;
}

.month {
    font-size: 1.2em;
}

/* codigo de la informacion */
.entradas {
    color: #121212;
    align-self: center;
    flex-shrink: 0;
    margin-left: 1em !important;
}

/* codigo del boton de enlace */
.enlace,
.enlace span {
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    list-style: none;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    color: #fff;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    box-sizing: inherit;
}

.enlace {
    isolation: isolate;
    border: 1px solid transparent;
    background-color: #024ddf;
    width: fit-content;
    transition: background-color .2s;
    min-height: 0;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    white-space: nowrap;
    text-decoration: none;
}

.enlace span {
    white-space: inherit;
    margin-right: 0.5em;
}

.flecha {
    fill: currentcolor;
    width: 1.5em;
    height: 1.5em;
    transition: transform .2s ease-out;
    transform: rotate(-90deg);
    vertical-align: top;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    list-style: none;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    box-sizing: inherit
}

/* orden de las secciones */
@media (max-width: 992px) {
    .col-lg-9 {
        order: 2;
    }

    .col-lg-3 {
        order: 1;
    }
}

/* codigo de los filtros */
select {
    padding: 0 0.5em;
    border-radius: 1em;
    width: 100%;
    background-color: #fff;
}

.filtros button {
    width: 100%;
    border-radius: 0.5em;
    background-color: #21b0f5;
    color: #fff;
}

.filtros label {
    width: 40%;
}

.filtros input {
    width: 60%;
}

/* responsive */
@media(max-width:767px){
    .partidos li>div {
        display: block;
        align-items: center;
        margin: 0.5em 0;
        text-align: center;
    }

    .day {
        font-size: 1.5em;
    }

    .month, .year {
        font-size: 1.5em;
    }

    .entradas {
        margin: auto;
        padding: 0.5em;
    }
}

.filtros section {
    width: 100%;
}

@media(min-width:768px) and (max-width:1023px){
    .filtros section {
        width: 60%;
        margin: auto;
        padding: 1em;
    }
}