{# Asocia la libreria 'noticias/listaNoticias' a esta plantilla. #}
{{ attach_library('noticias/listaNoticias') }}

{# This select element allows the user to choose a league from a list of options. #}
<div class="container d-flex flex-lg-row flex-column p-4">
    <div class="float-start col col-12 ">
        <select name="liga" id="liga" class="m-3">
            <option value="todas">All leagues</option>
            <option value="eng.1">English Premier League</option>
            <option value="esp.1">Spanish LaLiga EA Sports </option>
            <option value="ita.1">Italian Serie A</option>
            <option value="ger.1">German Bundesliga</option>
            <option value="fra.1">French Ligue 1</option>
            <option value="uefa.champions">UEFA Champions League</option>
            <option value="uefa.europa">UEFA Europa League</option>
            <option value="uefa.europa.conf">UEFA Conference League</option>
        </select>
        <section class="col col-12 ps-lg-2 pe-lg-2" id="articles"></section>
    </div>
</div>
