 {{ attach_library('noticias/noticia') }}
<script>
    $(document).ready(function () {
        $.ajax({
            url: "https://now.core.api.espn.com/v1/sports/news/" + {{id}},
            method: "GET",
            success: function (data) {
                // Obtener los datos de los eventos
                var newsData = data.headlines[0];

                // Mostrar los datos en la tabla
                var noticiasBody = $("#noticias");

                var title = newsData.headline;
                var desc = newsData.description;
                var story = newsData.story.replace(/<a\b[^>]*>(.*?)<\/a>/gi, '$1');;
                var image = newsData.images[0].url;
                var width = newsData.images[0].width;
                var height = newsData.images[0].height;
                var fecha = data.timestamp;

                const dateString = fecha;
                const dateObject = new Date(dateString);

                // Restar una hora
                dateObject.setHours(dateObject.getHours() - 1);

                // Obtener los componentes de la fecha
                const day = dateObject.getDate();
                const month = dateObject.toLocaleString('en-US', { month: 'long' });
                const year = dateObject.getFullYear();
                const hours = dateObject.getHours();
                const minutes = dateObject.getMinutes();

                // Formatear la fecha en el nuevo formato
                const fechaRes = `${day} ${month} ${year} ${hours}:${minutes}`;

                var categories = '';
                for (var j = 0; j < newsData.categories.length; j++) {
                    categories += `<li><p>${newsData.categories[j].description}</p></li>`;
                }

                noticiasBody.append(`
                <h1 class="fw-semibold mb-3">${title}</h1>
                <p>${fechaRes}</p>
                <p>${desc}</p>
                <p>${story}</p>

                <blockquote>
                    <img src="${image}">
                </blockquote>

                <ul class="post-tags p-3 list-unstyled float-start w-100 text-wrap m-0">
                    ${categories}
                </ul>`);
            },
            error: function () {
                console.log("Error al obtener los datos de la API");
            }
        });
    });
</script>

<div class="container pb-3 pt-3">
	<div class="row">
		<!--News Start-->
		<div class="col col-12 ps-lg-2 pe-lg-2">
			<div class="news-large-post float-start w-100 overflow-hidden">
				<div class="post-txt float-start w-100 pt-lg-4 ps-lg-5 pe-lg-5 pb-lg-4 p-3" id="noticias">

				</div>
			</div>
		</div>
	</div>
</div>
