{#
    Plantilla para el diseño de la página.
    Esta plantilla incluye las secciones de cabecera, contenido principal y pie de página de la página.

    @param {object} page - El objeto de página que contiene los datos de cabecera, contenido y pie de página.
#}
<body>
    {{page.header}}
    <main>
        {{page.content}}
    </main>
    <footer>
        {{page.footer}}
    </footer>
</body>