{% block estadio %}
<div class="p-0 mb-2 d-flex align-items-stretch position-relative secciones bWht">
	<div class="lateralIzq" style="background:#21b0f5;"></div>
	<div class="d-flex flex-fill flex-row flex-grow-1 align-items-stretch col-8 ps-3 pb-2 pt-2">
		<div class="justify-content-center align-items-center d-flex flex-column">
			<p class="fw-bold lh-1 h4 text-start w-100">Section: VIP</p>
			<div class="cnRed1 w-100">
				<p class="fw-bold m-0 lh-1">4 tickets left</p>
				<p class="m-0 lh-1">in our website</p>
			</div>
			<div class="fw-light cGry2 w-100">
				<em>Secure shipping</em>
				<br>
				<div class="d-flex flex-top cGry1 fw-bold lh-1">
					<span class="cAzul4 i-thumbs-up position-relative me-2"></span>
					<span>
						Unlimited view. &nbsp;
						<span>
							<span class="fs-6 hover">
								<i class="i-info-sign align-items-center cGry1"></i>
							</span>
							<div class="text-center fw-light lh-1">
								<p class="fs-6 m-0">
									You will enjoy a clear view of the show.
								</p>
							</div>
						</span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex flex-fill flex-row text-end position-relative lateralDer">
		<form class="d-flex flex-column flex-fill justify-content-center align-items-end" method="post" action="http://localhost/AllTickets/matches/{{id}}/buy">
			<span class="fw-bold fs-6">228 €</span>
			<input class="d-none" type="number" value="228" name="precio" id="precio">
			<input class="d-none" type="text" value="VIP" name="seccion" id="seccion">
			<p class="fs-6 cGry3 mb-0">Per ticket</p>
			<div>
				<input type="number" name="entradas" id="entradas" class="w-50 mt-1">
				<button type="submit" class="btn pri">Buy</button>
			</div>
		</form>
	</div>
</div>
<div class="p-0 mb-2 d-flex align-items-stretch position-relative secciones bWht">
	<div class="lateralIzq" style="background:#af51ce;"></div>
	<div class="d-flex flex-fill flex-row flex-grow-1 align-items-stretch col-8 ps-3 pb-2 pt-2">
		<div class="justify-content-center align-items-center d-flex flex-column">
			<p class="fw-bold lh-1 h4 text-start w-100">Section: Northeast stand</p>
			<div class="fw-light cGry2 w-100">
				<em>Electronic entry</em>
				<br>
				<div class="d-flex flex-top cGry1 fw-bold lh-1">
					<span class="cAzul4 i-thumbs-up position-relative me-2"></span>
					<span>
						Unlimited view. &nbsp;
						<span>
							<span class="fs-6 hover">
								<i class="i-info-sign align-items-center cGry1"></i>
							</span>
							<div class="text-center fw-light lh-1">
								<p class="fs-6 m-0">
									You will enjoy a clear view of the show.
								</p>
							</div>
						</span>
					</span>
				</div>
				<div class="d-flex flex-top cGry1 fw-bold lh-1">
					<span class="cAzul4 i-thumbs-up position-relative me-2"></span>
					<span>
						Top selling section. &nbsp;
						<span>
							<span class="fs-6 hover">
								<i class="i-info-sign align-items-center cGry1"></i>
							</span>
							<div class="text-center fw-light lh-1">
								<p class="fs-6 m-0">
									This section has the highest number of successful sales for this event in the last 7 days on our site.
								</p>
							</div>
						</span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex flex-fill flex-row text-end position-relative lateralDer">
		<form class="d-flex flex-column flex-fill justify-content-center align-items-end" method="post" action="http://localhost/AllTickets/matches/{{id}}/buy">
			<span class="fw-bold fs-6">105 €</span>
			<input class="d-none" type="number" value="105" name="precio" id="precio">
			<input class="d-none" type="text" value="Northeast stand" name="seccion" id="seccion">
			<p class="fs-6 cGry3 mb-0">Per ticket</p>
			<div>
				<input type="number" name="entradas" id="entradas" class="w-50 mt-1">
				<button type="submit" class="btn pri">Buy</button>
			</div>
		</form>
	</div>
</div>
<div class="p-0 mb-2 d-flex align-items-stretch position-relative secciones bWht">
	<div class="lateralIzq" style="background:#072273;"></div>
	<div class="d-flex flex-fill flex-row flex-grow-1 align-items-stretch col-8 ps-3 pb-2 pt-2">
		<div class="justify-content-center align-items-center d-flex flex-column">
			<p class="fw-bold lh-1 h4 text-start w-100">Section: South stand</p>
			<div class="cnRed1 w-100">
				<p class="fw-bold m-0 lh-1">4 tickets left</p>
				<p class="m-0 lh-1">in our website</p>
			</div>
			<div class="fw-light cGry2 w-100">
				<em>Secure shipping</em>
				<br>
				<div class="d-flex flex-top cGry1 fw-bold lh-1">
					<span class="cAzul4 i-thumbs-up position-relative me-2"></span>
					<span>
						Unlimited view. &nbsp;
						<span>
							<span class="fs-6 hover">
								<i class="i-info-sign align-items-center cGry1"></i>
							</span>
							<div class="text-center fw-light lh-1">
								<p class="fs-6 m-0">
									You will enjoy a clear view of the show.
								</p>
							</div>
						</span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex flex-fill flex-row text-end position-relative lateralDer">
		<form class="d-flex flex-column flex-fill justify-content-center align-items-end" method="post" action="http://localhost/AllTickets/matches/{{id}}/buy">
			<span class="fw-bold fs-6">228 €</span>
			<input class="d-none" type="number" value="228" name="precio" id="precio">
			<input class="d-none" type="text" value="South stand" name="seccion" id="seccion">
			<p class="fs-6 cGry3 mb-0">Per ticket</p>
			<div>
				<input type="number" name="entradas" id="entradas" class="w-50 mt-1">
				<button type="submit" class="btn pri">Buy</button>
			</div>
		</form>
	</div>
</div>
<div class="p-0 mb-2 d-flex align-items-stretch position-relative secciones bWht">
	<div class="lateralIzq" style="background:#312769;"></div>
	<div class="d-flex flex-fill flex-row flex-grow-1 align-items-stretch col-8 ps-3 pb-2 pt-2">
		<div class="justify-content-center align-items-center d-flex flex-column">
			<p class="fw-bold lh-1 h4 text-start w-100">Section: Home fans standing</p>
			<div class="fw-light cGry2 w-100">
				<em>Electronic entry</em>
				<br>
				<div class="d-flex flex-top cGry1 fw-bold lh-1">
					<span class="cAzul4 i-thumbs-up position-relative me-2"></span>
					<span>
						Unlimited view. &nbsp;
						<span>
							<span class="fs-6 hover">
								<i class="i-info-sign align-items-center cGry1"></i>
							</span>
							<div class="text-center fw-light lh-1">
								<p class="fs-6 m-0">
									You will enjoy a clear view of the show.
								</p>
							</div>
						</span>
					</span>
				</div>
				<div class="d-flex flex-top cGry1 fw-bold lh-1">
					<span class="cAzul4 i-thumbs-up position-relative me-2"></span>
					<span>
						Top selling section. &nbsp;
						<span>
							<span class="fs-6 hover">
								<i class="i-info-sign align-items-center cGry1"></i>
							</span>
							<div class="text-center fw-light lh-1">
								<p class="fs-6 m-0">
									This section has the highest number of successful sales for this event in the last 7 days on our site.
								</p>
							</div>
						</span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex flex-fill flex-row text-end position-relative lateralDer">
		<form class="d-flex flex-column flex-fill justify-content-center align-items-end" method="post" action="http://localhost/AllTickets/matches/{{id}}/buy">
			<span class="fw-bold fs-6">105 €</span>
			<input class="d-none" type="number" value="105" name="precio" id="precio">
			<input class="d-none" type="text" value="Home fans standing" name="seccion" id="seccion">
			<p class="fs-6 cGry3 mb-0">Per ticket</p>
			<div>
				<input type="number" name="entradas" id="entradas" class="w-50 mt-1">
				<button type="submit" class="btn pri">Buy</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
