{{ attach_library('directo/listado') }}

<div class="listado">
    <!-- Contenido de la plantilla -->
</div>
{# <script>
    // Llama a la función después de que el documento esté listo
    document.addEventListener("DOMContentLoaded", function () {
        // Llama a la función desde listado.js
        miFuncion();
    });
</script> #}
