.gen {
    box-sizing: border-box;
    min-height: 100vh;
    background: #f1f1f1;
    padding: 2em;
}

.general {
    max-width: 950px;
    background: #fff;
    padding: 2.5em 2em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2700px;
    border-radius: 0.5em;
}

/* codigo del panel que gira */
.cover {
    left: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
    border-radius: 0.5em;
}

#flip:checked~.cover {
    transform: rotateY(-180deg);
}

.cover::before,
.cover::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #7d2ae8;
    opacity: 0.5;
    z-index: 12;
}

.cover::after {
    opacity: 0.3;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.cover img {
    object-fit: cover;
    z-index: 10;
}

.cover .text {
    z-index: 130;
    color: #fff;
}

.cover .text .text-1 {
    font-size: 1.5em;
}

.cover .text .text-2 {
    font-size: 1em;
}

/* codigo de los formularios */
.forms {
    background: #fff;
}

.signin-form,
.signup-form {
    width: calc(100% / 2 - 25px);
}

.title {
    font-size: 1.5em;
    color: #333;
}

.title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    top: 1em;
    height: 0.25em;
    width: 1.5em;
    background: #7d2ae8;
}

.input-box {
    height: 3em;
}

input {
    outline: none;
    border: none;
    padding: 0 2em;
    font-size: 1em;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

input:focus,
input:valid {
    border-color: #7d2ae8;
}

i {
    position: absolute;
    color: #7d2ae8;
    font-size: 17px;
}

.forms .text {
    font-weight: 500;
    color: #333;
}

.forms .text a {
    text-decoration: none;
}

.forms .text a:hover {
    text-decoration: underline;
}

.forms .button {
    color: #fff;
    margin-top: 1.5em;
}

.forms .button input {
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.forms .button input:hover {
    background: #5b13b9;
}

.forms label {
    cursor: pointer;
}

.forms label:hover {
    text-decoration: underline;
}

#flip {
    display: none;
}

/* responsive */
@media (max-width: 730px) {
    .cover {
        display: none;
    }

    .signin-form,
    .signup-form {
        width: 100%;
    }

    .signup-form {
        display: none;
    }

    #flip:checked~.forms .signup-form {
        display: block;
    }

    #flip:checked~.forms .signin-form {
        display: none;
    }
}

.cLila {
    color: #6f1fbf !important;
}

.bLila {
    background-color: #6f1fbf !important;
}