{{ attach_library('equipos/equipos') }}

<div class="container bWht p-2 mt-3 mb-3">
    <section class="porteros"><p class="fs-1 fw-semibold text-uppercase mt-2 titulo p-2">Goalkeeper</p><section class="listado"></section></section>
    <section class="defensas"><p class="fs-1 fw-semibold text-uppercase mt-2 titulo p-2">Defenders</p><section class="listado"></section></section>
    <section class="centrocampistas"><p class="fs-1 fw-semibold text-uppercase mt-2 titulo p-2">Midfielders</p><section class="listado"></section></section>
    <section class="delanteros"><p class="fs-1 fw-semibold text-uppercase mt-2 titulo p-2">Forwards</p><section class="listado"></section></section>
</div>

<script>
    var porSection = $('.porteros .listado');
    var defSection = $('.defensas .listado');
    var medSection = $('.centrocampistas .listado');
    var delSection = $('.delanteros .listado');

    var jugadores = [];
    {% for jug in jugadores %}
        jugadores.push('{{ jug.idJugador }}');
    {% endfor %}

    // Realizar la solicitud AJAX para cada jugador
    jugadores.forEach(function (jugadorId) {
        $.ajax({
            url: "https://site.web.api.espn.com/apis/common/v3/sports/soccer/espn/athletes/" + jugadorId,
            method: "GET",
            success: function (data) {
                var jugadorHTML = '';

                switch (data.athlete.position.abbreviation) {
                    case 'F':
                        jugadorHTML = `<div class="p-1">
                            <div class="jugador">
                                <div class="num">${data.athlete.jersey}</div>
                                <div class="datos">
                                    <h4>${data.athlete.displayName}</h4>
                                    <p>${data.athlete.position.name}</p>
                                    <ul>
                                        <li>${data.athlete.age} <span>Age</span></li>
                                        <li>${data.athlete.statsSummary.statistics[0].displayValue} <span>Matches</span></li>
                                        <li>${data.athlete.statsSummary.statistics[1].displayValue} <span>Goals</span></li>
                                        <li>${data.athlete.statsSummary.statistics[2].displayValue} <span>Assists</span></li>
                                    </ul>
                                </div>
                                <img src="${data.athlete.team.logos[0].href}" alt="">
                            </div>
                        </div>`;
                        break;
                    case 'M':
                        jugadorHTML = `<div class="p-1">
                            <div class="jugador">
                                <div class="num">${data.athlete.jersey}</div>
                                <div class="datos">
                                    <h4>${data.athlete.displayName}</h4>
                                    <p>${data.athlete.position.name}</p>
                                    <ul>
                                        <li>${data.athlete.age} <span>Age</span></li>
                                        <li>${data.athlete.statsSummary.statistics[0].displayValue} <span>Matches</span></li>
                                        <li>${data.athlete.statsSummary.statistics[1].displayValue} <span>Goals</span></li>
                                        <li>${data.athlete.statsSummary.statistics[2].displayValue} <span>Assists</span></li>
                                    </ul>
                                </div>
                                <img src="${data.athlete.team.logos[0].href}" alt="">
                            </div>
                        </div>`;
                        break;
                    case 'D':
                        jugadorHTML = `<div class="p-1">
                            <div class="jugador">
                                <div class="num">${data.athlete.jersey}</div>
                                <div class="datos">
                                    <h4>${data.athlete.displayName}</h4>
                                    <p>${data.athlete.position.name}</p>
                                    <ul>
                                        <li>${data.athlete.age} <span>Age</span></li>
                                        <li>${data.athlete.statsSummary.statistics[0].displayValue} <span>Matches</span></li>
                                        <li>${data.athlete.statsSummary.statistics[1].displayValue} <span>Goals</span></li>
                                        <li>${data.athlete.statsSummary.statistics[2].displayValue} <span>Assists</span></li>
                                    </ul>
                                </div>
                                <img src="${data.athlete.team.logos[0].href}" alt="">
                            </div>
                        </div>`;
                        break;
                    case 'G':
                        jugadorHTML = `<div class="p-1">
                            <div class="jugador">
                                <div class="num">${data.athlete.jersey}</div>
                                <div class="datos">
                                    <h4>${data.athlete.displayName}</h4>
                                    <p>${data.athlete.position.name}</p>
                                    <ul>
                                        <li>${data.athlete.age} <span>Age</span></li>
                                        <li>${data.athlete.statsSummary.statistics[0].displayValue} <span>Matches</span></li>
                                        <li>${data.athlete.statsSummary.statistics[1].displayValue} <span>Saves</span></li>
                                        <li>${data.athlete.statsSummary.statistics[2].displayValue} <span>Clean sheets</span></li>
                                    </ul>
                                </div>
                                <img src="${data.athlete.team.logos[0].href}" alt="">
                            </div>
                        </div>`;
                        break;
                }

                // Agregar el jugador al área correspondiente y ordenar por dorsal
                switch (data.athlete.position.abbreviation) {
                    case 'F':
                        delSection.append(jugadorHTML);
                        break;
                    case 'M':
                        medSection.append(jugadorHTML);
                        break;
                    case 'D':
                        defSection.append(jugadorHTML);
                        break;
                    case 'G':
                        porSection.append(jugadorHTML);
                        break;
                }
            },
            error: function () {
                console.log("Error al obtener los datos de la API");
            }
        });
    });
</script>

