{# Asocia la libreria 'equipos/listaEquipos' a esta plantilla. #}
{{ attach_library('equipos/listaEquipos') }}
{#
    El elemneto <select> se usa para crear una lista despegable de opciones.
    Permite al usuario seleccionar una opción de la lista.
    El atributo name se utiliza para identificar el elemento del formulario cuando se envía.
    El atributo id se utiliza para identificar unívocamente el elemento.
    Los elementos <option> definen las opciones disponibles en la lista desplegable.
    Cada opción tiene un atributo value que representa el valor seleccionado cuando se envía el formulario.
#}
<div class="container bWht p-2 mt-3 pb-3">
    <div class="d-block d-md-flex">
        <div class="col-md-7 col-lg-8 col col-12 bWht pe-md-2">
            <select name="liga" id="liga">
                <option value="esp.1">Spanish LaLiga</option>
                <option value="eng.1">English Premier League </option>
                <option value="ita.1">Italian Serie A </option>
                <option value="ger.1">German Bundesliga </option>
                <option value="fra.1">French Ligue 1 </option>
                <option value="uefa.champions">UEFA Champions League</option>
                <option value="uefa.europa">UEFA Europa League</option>
                <option value="uefa.europa.conf">UEFA Conference League</option>
            </select>
            <section class="equipos "></section>
        </div>
        <section class="col-md-5 col-lg-4 col col-12 float-start bWht ps-md-2">
            <h4>Points Table</h4>
            <div class="point-table w-100 overflow-hidden float-start text-center">
            </div>
        </section>
    </div>
</div>
