{{ attach_library('general/cabecera') }}


<section class="banner-section" id="top">
	<div class="container texto">
		<p class="titleCab h1">
			<span class="d-block">{{titulo}}</span>
        </p>
		<span class="cate">{{ subtitulo|raw }}</span>
	</div>
</section>
