{{ attach_library('general/cabecera') }}


<section class="banner-section" id="top">
	<div class="container texto">
		<p class="title h1">
			<span class="d-block">{{titulo}}</span>
        </p>
		<span class="cate">Easy way to build perfect websites</span>
	</div>
</section>
