{{ attach_library('general/cabecera') }}


<section class="banner-section" id="top">
	<div class="container texto">
		<span class="cate">Easy way to build perfect websites</span>
		<h2 class="title mb-0">
			<span class="d-block">BUILT SITES WITH</span>THE SOUL of inspiration</h2>
	</div>
</section>
