main {
    font-size: 16px;
}

.container {
    border-radius: 0.5em;
}

.bWht {
    background-color: #fff !important
}

.num {
	position: absolute;
	right: 1em;
	top: 0;
	background: #21b0f5;
	width: 2em;
	height: 2em;
	text-align: center;
	line-height: 2em;
	color: #fff;
	font-weight: 400;
	font-size: 1.5em;
	border-radius: 0 0 0.25em 0.25em;
	transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
}

.num:after {
	position: absolute;
	left: -11px;
	top: 0;
	content: "";
	width: 0;
	height: 0;
	border-bottom: 10px solid #21b0f5;
	border-left: 11px solid transparent;
	transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
}

.jugador:hover .num {
	background: #6f1fbf;
}

.jugador:hover .num:after {
	border-bottom: 10px solid #6f1fbf;
}

.jugador {
	width: 100%;
	border-radius: 0.25em;
	overflow: hidden;
	position: relative;
    padding-top: 10px;
    margin-bottom: 30px;
}

.jugador img {
	width: 100%;
	height: auto;
	border-radius: 0.25em;
    background-color: #f1f1f1;
}

.jugador:after {
	position: absolute;
	left: 0;
	bottom: 0;
	content: "";
	width: 100%;
	height: 50%;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
}

.datos {
	position: absolute;
	left: 0;
	bottom: -50%;
	z-index: 99;
	text-align: center;
	width: 100%;
	transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
}

.datos h4 {
	color: #e5e5e5;
    text-shadow: 1px 1px 3px gray;
	margin: 0 0 10px;
}

.datos p {
	color: #cccccc;
	font-size: 0.75em;
	text-transform: uppercase;
}

.datos ul {
	margin: 0 0 10px;
	padding: 0px;
	list-style: none;
	width: 100%;
	float: left;
}

.datos ul li {
	float: left;
	font-size: 1.25em;
	font-weight: 300;
	color: #ccc;
	border-right: 1px solid rgba(255, 255, 255, .5);
	width: 25%;
	line-height: 1.25em;
}

.datos ul li:last-child {
	border: 0px;
}

.datos ul li span {
	display: block;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 400;
}

.jugador:hover .datos {
	bottom: 0px;
}

.jugador:hover .datos h4 {
	color: #fff;
    background-color: #d8d8d825;
}

.listado {
    display: grid;
    grid-auto-rows: minmax(100px, auto); /* Altura mínima de 100px, altura máxima automática */
    grid-gap: 20px; /* Espacio entre celdas */
    justify-content: center; /* Centrar el contenido horizontalmente */
}

@media(max-width:1023px){
    .listado {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual ancho */
    }

    .datos {
        bottom: -22%;
    }
}

@media(max-width:767px){
    .listado {
        grid-template-columns: repeat(1, 1fr); /* 1 columnas de igual ancho */
    }

    .datos {
        bottom: -25%;
    }
}

@media(min-width:1023.5px){
    .listado {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
    }

    .datos {
        bottom: -25%;
    }
}

@media(min-width:1440.5px){
    .listado {
        grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual ancho */
    }

    .datos {
        bottom: -25%;
    }
}

.titulo{
    font-size: 3em;
    text-align: center;
    color: black;
}

h4 img{
    width: 2em !important;
}