{{ attach_library('sesion/sesion') }}
{{ redireccion|raw }}
    <div class="gen d-flex ustify-content-center align-items-center">
        <div class="general w-100 position-relative m-auto">
            <input type="checkbox" id="flip">
            <div class="cover position-absolute top-0 h-100 w-50 ">
                <div class="position-absolute top-0 h-100 w-100">
                    <img src="images/frontImg.jpg" alt="" class="position-absolute h-100 w-100">
                    <div class="text position-absolute w-100 h-100 d-flex flex-column justify-content-center align-items-center text-center">
                        <span class="text-1 fw-bold">All European football in your hand</span>
                        <span class="text-2 fw-semibold">Try it!</span>
                    </div>
                </div>
            </div>
            <div class="forms w-100 h-100">
                <div class="form-content justify-content-between align-items-center d-flex"> <!-- quitar form-content-->
                    <div class="signin-form">
                        <div class="title fw-semibold position-relative">Sign in</div>
                        {{ fallo|raw }}
                        <form onsubmit="return validarFormulario()" method="post" action="http://localhost/AllTickets/sesion">
                            <div class="mt-4">
                                <div class="input-box d-flex align-items-center w-100 position-relative mt-2 mb-2">
                                    <i class="cLila i-mail"></i>
                                    <input type="text" placeholder="Email" required class="w-100 h-100 fw-semibold" name="userIn" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
                                </div>
                                <div class="input-box d-flex align-items-center w-100 position-relative mt-2 mb-2">
                                    <i class="cLila i-lock"></i>
                                    <input type="password" placeholder="Password" required class="w-100 h-100 fw-semibold" name="passIn" pattern="[A-Za-z0-9]{8,12}">
                                </div>
                                <div class="text"><a href="#">Forgot password?</a></div>
                                <div class="button input-box p-0">
                                    <input type="submit" class="w-100 h-100 fw-semibold bLila" name="SignIn" id="SignIn" value="SignIn">
                                </div>
                                <div class="text text-center mt-4">Don't have an account? <label for="flip" class="cLila">Sigup now</label></div>
                            </div>
                        </form>
                    </div>
                    <div class="signup-form">
                        <div class="title fw-semibold position-relative">Sign up</div>
                        {{ fallo|raw }}
                        <form onsubmit="return validarFormulario()" method="post" action="http://localhost/AllTickets/sesion" class="sign-up-form">
                            <div class="mt-4">
                                <div class="box d-flex flex-row">
                                    <div class="input-box p-2 d-flex align-items-center w-100 position-relative mt-2 mb-2">
                                        <i class="i-user cLila"></i>
                                        <input type="text" placeholder="Name" name="name" required class="w-100 h-100 fw-semibold">
                                    </div>
                                    <div class="input-box p-2 d-flex align-items-center w-100 position-relative mt-2 mb-2">
                                        <i class="i-user cLila"></i>
                                        <input type="text" placeholder="Surname" name="surname" required class="w-100 h-100 fw-semibold" pattern="[A-Za-z0-9]{8,12}">
                                    </div>
                                </div>
                                <div class="box d-flex flex-row">
                                    <div class="input-box p-2 d-flex align-items-center w-100 position-relative mt-2 mb-2">
                                        <i class="cLila i-mail"></i>
                                        <input type="email" placeholder="Email" required class="w-100 h-100 fw-semibold" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" name="email">
                                    </div>
                                    <div class="input-box p-2 d-flex align-items-center w-100 position-relative mt-2 mb-2">
                                        <i class="cLila i-mail"></i>
                                        <input type="email" placeholder="Repeat email" required class="w-100 h-100 fw-semibold" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" name="emailRep">
                                    </div>
                                </div>
                                <div class="box d-flex flex-row">
                                    <div class="input-box p-2 d-flex align-items-center w-100 position-relative mt-2 mb-2">
                                        <i class="cLila i-lock"></i>
                                        <input type="password" name="pass" placeholder="Password" required class="w-100 h-100 fw-semibold" pattern="[A-Za-z0-9]{8,12}">
                                    </div>
                                    <div class="input-box p-2 d-flex align-items-center w-100 position-relative mt-2 mb-2">
                                        <i class="cLila i-lock"></i>
                                        <input type="password" name="passRep" placeholder="Repeat password" required class="w-100 h-100 fw-semibold" pattern="[A-Za-z0-9]{8,12}">
                                    </div>
                                </div>
                                <div class="box d-flex flex-row">
                                    <div class="input-box p-2 d-flex align-items-center w-100 position-relative mt-2 mb-2">
                                        <i class="cLila i-phone"></i>
                                        <input type="tel" placeholder="Enter telephone" required class="w-100 h-100 fw-semibold" pattern="^(\+34|0034|34)?[6-7]\d{8}$" name="phone">
                                    </div>
                                </div>
                                <div class="button input-box p-0">
                                    <input type="submit" value="Sumbit" class="w-100 h-100 fw-semibold bLila">
                                </div>
                                <div class="text text-center mt-4">Already have an account? <label for="flip" class="cLila">Sign in now</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        $('.sign-up-form').submit(function (event) {
            if (!validarFormulario()) {
                event.preventDefault(); // Evita que el formulario se envíe
            }
        });

        function validarFormulario() {
            var password = $('#pass').val();
            var confirmPassword = $('#passRep').val();
            var email = $('#email').val();
            var confirmEmail = $('#emailRep').val();

            if (password !== confirmPassword) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'The passwords are not the same',
                });
                return false; // Evita que el formulario se envíe
            }

            if (email !== confirmEmail) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'The emails are not the same',
                });
                return false; // Evita que el formulario se envíe
            }
            return true;
        }
    });
</script>
