{{ attach_library('alltickets/footer') }}
{{ attach_library('alltickets/general') }}
{# codigo del footer #}
<div>
    <img src="{{ file_url('themes/alltickets/assets/images/logo.png') }}" alt="logo"></div>