@charset "utf-8";

@media (min-width: 992px) and (max-width: 1199px) {
	.ng-txt,
	.hnews-box .hnews-txt,
	.sports-news .news-list-post .post-txt {
		padding: 10px;
	}
}


@media (max-width: 767px) {
	.post-tags li {
		margin: 2px;
	}


	.ng-txt,
	.post-author-box,
	.news-large-post .post-txt,
	.last-match-result-full-light {
		padding: 15px;
	}

	.quote-post blockquote p {
		color: #fff;
		font-size: 24px;
		font-weight: 300;
		font-style: italic;
		line-height: 35px;
		margin: 0px;
	}

	.comment-form li.w3,
	.news-list-post .post-txt,
	.news-list-post .post-thumb {
		width: 100%;
	}

	.sports-news .news-list-post .post-txt,
	.sports-news .news-list-post .post-thumb {
		width: 100%;
	}
}

@media (min-width: 280px) and (max-width: 575px) {
	.sports-news .news-list-post .post-txt,
	.sports-news .news-list-post .post-thumb {
		width: 100%;
	}
}